header.title, footer.title {
  margin: auto;
  width: 100%;
  background-color: #5a67d8;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  position: fixed;
  z-index: 9;
  top: 0;
}

footer.action {
  margin: auto;
  width: 100%;
  background-color: #8691f5;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  position: fixed;
  z-index: 9;
  bottom: 0;

  display: flex;
    justify-content: center;
    position: fixed;
    button {
      width: 10%;
      opacity: 90%;
    }
    button + button {
      margin-left: 20px;
    }
}

form.experience-form {
  margin: 4rem 2rem;
  height: calc(100vh - 128px);
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .date-field, .job-field {
    display: flex;
    justify-content: space-between;

    .my-5 {
      width: 49%;
    }
  }

  .my-5 > label {
    min-width: 150px;
    height: 38px;
    line-height: 38px;
  }

  .personal-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    > .profile-image {
      width: auto;
      
      &+div {
        width: 75%;
      }
    }
  }

  .my-5 {
    display: flex;
    justify-content: space-around;
  }

  .add-work {
      display: flex;
      justify-content:space-between;
      button {
        margin: 0;
      }
  }

  .work-exp-detail {
    border: 1px solid;
    padding: 0 20px;

    &.work-exp-detail {
      margin-bottom: 20px;
    }

    input+label{
      margin-left: 20px;
    }

    textarea {
      width: 70%;
      height: 100%;
    }

    .remove-work {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .my-5{
    margin-bottom: 1.5rem;
  }

  @keyframes errorMessage {
    from {margin-top: 10px;}
    to {margin-top: 40px;}
  }
  

  .formFieldError {
    border: 1px solid #e11d48;
  }
  .formFieldErrorMessage {
    color: #e11d48;
    position: absolute;
    margin-left: 55px;
    margin-top: 40px;
    animation-name: errorMessage;
    animation-duration: .5s;
    z-index: -2;
    font-size: .80rem;
  }

  
}